*{
    transition: all 0.2s;
}
body{
    background-color: #3b3b3b;
    color: #ffffffab;
}
#root{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 400px;
    align-self: flex-start;
    border-radius: 20px;
    background-color: #282828;
    padding: 15px;
}
.profileImg{
    width: 400px;
    border-radius: 7.5%;
}
.galleryContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.galleryImg{
    width: 150px;
    border-radius: 10%;
    cursor: pointer;
}
.galleryImg:hover{
    border: 3px #ffffff9d solid;
}
.galleryImg.active{
    border: 3px #ffffff9d solid;
}
.moreLessBtn{
    margin: 0 0 12.5px 12.5px;
    transition: all 0.3s;
    background-color: #fff;
    padding: 7.5px;
    border: solid #282828 1px;
    border-radius: 8px;
    cursor: pointer;
}
.moreLessBtn:hover{
    border: solid #1b1b1b 1px;
}
.moreLessBtn:active{
    border: solid #090909 1px;
}

@media only screen and (max-width: 1290px) {
    body{
        display: flex;
        justify-content: center;
    }
    #root{
        display: block;
    }
    .card{
        margin-bottom: 30px;
    }
}